In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%sql postgresql://postgres:postgres@localhost:5432/analysis

'Connected: postgres@analysis'

# 1. Creating your first Database and Table

* first we create a database with:
    * CREATE DATABASE analysis;
    * since we already did this and we just have to call it with the %sql command we leave that for now

## Creating a Table
* we are creating a sql table 'teachers'
* we give the required data with the right data type

In [32]:
%%sql
CREATE TABLE teachers (
id bigserial,
first_name varchar(25),
last_name varchar(50),
school varchar(50),
hire_date date,
salary numeric);

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/analysis
Done.

[]

## Inserting Rows into a Table
* here we insert some rows in our table

In [33]:
%%sql
INSERT INTO teachers (first_name, last_name, school, hire_date, salary)
VALUES ('Janet', 'Smith', 'F.D. Roosevelt HS', '2011-10-30', 36200),
       ('Lee', 'Reynolds', 'F.D. Roosevelt HS', '1993-05-22', 65000),
       ('Samuel', 'Cole', 'Myers Middle School', '2005-08-01', 43500),
       ('Samantha', 'Bush', 'Myers Middle School', '2011-10-30', 36200),
       ('Betty', 'Diaz', 'Myers Middle School', '2005-08-30', 43500),
       ('Kathleen', 'Roush', 'F.D. Roosevelt HS', '2010-10-22', 38500);

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/analysis
6 rows affected.

[]

## Try it Yourself

-- 1. Imagine you're building a database to catalog all the animals at your
-- local zoo. You want one table for tracking all the kinds of animals and
-- another table to track the specifics on each animal. Write CREATE TABLE
-- statements for each table that include some of the columns you need. Why did
-- you include the columns you chose?

In [25]:
%%sql

CREATE TABLE animal_types (
   animal_type_id bigserial CONSTRAINT animal_types_key PRIMARY KEY,
   common_name varchar(100) NOT NULL,
   scientific_name varchar(100) NOT NULL,
   conservation_status varchar(50) NOT NULL
);

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/analysis
(psycopg2.errors.DuplicateTable) relation "animal_types" already exists

[SQL: CREATE TABLE animal_types (
   animal_type_id bigserial CONSTRAINT animal_types_key PRIMARY KEY,
   common_name varchar(100) NOT NULL,
   scientific_name varchar(100) NOT NULL,
   conservation_status varchar(50) NOT NULL
);]
(Background on this error at: http://sqlalche.me/e/f405)

* we create a table with animal tpes
* the first line of the table is a primary key (which we will lern about later)

In [26]:
%%sql

CREATE TABLE menagerie (
   menagerie_id bigserial CONSTRAINT menagerie_key PRIMARY KEY,
   animal_type_id bigint REFERENCES animal_types (animal_type_id),
   date_acquired date NOT NULL,
   gender varchar(1),
   acquired_from varchar(100),
   name varchar(100),
   notes text
);

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/analysis
Done.

[]

* the second table will hold all the specific data about the animal

-- 2. Now create INSERT statements to load sample data into the tables.
-- How can you view the data via the pgAdmin tool?

In [27]:
%%sql

INSERT INTO animal_types (common_name, scientific_name, conservation_status)
VALUES ('Bengal Tiger', 'Panthera tigris tigris', 'Endangered'),
       ('Arctic Wolf', 'Canis lupus arctos', 'Least Concern');

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/analysis
2 rows affected.

[]

In [29]:
%%sql

INSERT INTO menagerie (animal_type_id, date_acquired, gender, acquired_from, name, notes)
VALUES
(1, '3/12/1996', 'F', 'Dhaka Zoo', 'Ariel', 'Healthy coat at last exam.'),
(2, '9/30/2000', 'F', 'National Zoo', 'Freddy', 'Strong appetite.');

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/analysis
2 rows affected.

[]

-- 2b. Create an additional INSERT statement for one of your tables. On purpose,
-- leave out one of the required commas separating the entries in the VALUES
-- clause of the query. What is the error message? Does it help you find the
-- error in the code?

In [31]:
%%sql 

INSERT INTO animal_types (common_name, scientific_name, conservation_status)
VALUES ('Javan Rhino', 'Rhinoceros sondaicus', 'Critically Endangered');

   postgresql://postgres:***@localhost:5432/
 * postgresql://postgres:***@localhost:5432/analysis
1 rows affected.

[]