In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:postgres@localhost:5432/part2

'Connected: postgres@part2'

# Creating a Table

In [3]:
%%sql

CREATE TABLE friends (
id bigserial,
first_name varchar(25),
last_name varchar(25));

 * postgresql://postgres:***@localhost:5432/part2
Done.

[]

# Inserting Rows into a Table

In [6]:
%%sql

INSERT INTO friends (first_name, last_name)
VALUES ('First', 'Second'),
        ('Second', 'Third');

 * postgresql://postgres:***@localhost:5432/part2
2 rows affected.

[]

# SELECT BASIC

In [7]:
%%sql

SELECT * 
FROM teachers;

 * postgresql://postgres:***@localhost:5432/part2
(psycopg2.errors.UndefinedTable) relation "teachers" does not exist
LINE 2: FROM teachers;
             ^

[SQL: SELECT *
FROM teachers;]
(Background on this error at: http://sqlalche.me/e/f405)